allow zygote cache_file:file { write lock open setattr };
allow zygote init:unix_stream_socket { read write accept getopt setopt getattr setattr listen };
allow zygote ashmem_device:chr_file execute;
allow zygote property_socket:sock_file write;
allow zygote labeledfs:filesystem remount;
allow zygote system_data_file:dir { setattr mounton };
